*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.top-nav{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.info{
    height: 40px;
    background-color: rgb(228,237,248);
    color: rgb(58, 77, 98);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    padding-right: 50px;
}

nav{
    height: 80px;
    padding-left: 50px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo img{
    height: 60px;
    width: 280px;
}

.nav-link{
    margin: 0 auto;
}
.nav-link a{
    font-size: 20px;
    margin:20px;
}

.aboutSection{
    height:724.36px;
    width: 1280px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about-container{
    margin-top: 40px;
}

.top-row{
    display: flex;
    justify-content: center;
}

.bottom-row{
    margin-left: 100px;
}

.line-after {
    position: relative;
    display: inline-block;
}

.line-after::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 700%;
    height: 1px;
    background-color: #E5E5E5;
    margin-left: 20px;
}


.about{
    width: 550px;
    margin-left: 60px;
}

video{
    height: 578px;
    width: 480px;
}

.upes{
    height: 120px;
    margin-left: 180px;
    margin-top: -30px;
}

.op-jindal{
    height: 50px;
    margin-left: 40px;
    margin-top: -25px;
}

.whatDoWeDo{
    height: 950px;
    background-color: #FFEBB9;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.sustain{
    margin-left: 60px;
}

.healthy-food{
    margin-left: 50px;
}

.food{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.food-title{
    display: flex;
}

.healthy-food p{
    margin-left: 55px;
}

.card-sustain{
    height: 658px;
    width: 480px;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: -250px;
    object-fit: cover;
    opacity: 0.8;
}

.what-desc{
    width: 700px;
    margin-left: 100px;
}

.projects{
    height: 711.64px;
    width: 1280px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.charity{
    margin-left: 60px;
}

.project-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; 
}

.project-list{
    display: flex;
    justify-content: space-between;
}

.project, .image{
    height: 421px;
    width: 411px;
    border: none;
    border-radius: 20px;
    object-fit: cover;
}

.card-img{
    opacity: 0.4;
}

.statsSection{
    height:600px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 284px;
    width: 633px;
    margin: 100px;
}

.statsSection p{
    color: rgb(153,153,153);
}

.join{
    display: flex;
    flex-direction: column;
}

.cta{
    height: 384px;
    width: 1280px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.volunteer{
    height: 384px;
    width: 1280px;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
}

.volunteer h1{
    font-size: 48px;
}

.buttons{
    width: 347px;
    display: flex;
    justify-content: space-around;
}

.contribute{
    margin: 0 auto;
    width: 805px;
    height: 199px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.eventsSection{
    height: 225px;
    width: 1280px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.connection{
    height: 225px;
    width: 1280px;
    object-fit: cover;
    border-radius: 20px;
    /* background-color: rgb(235,202,98); */
    background-color: white;
    border: none;
}

.country{
    height: 60px;
    width: 60px;
}

.conn-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(235,202,98);
   padding: 15px;
}


.contact-logo{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}

.logo-box{
    display: flex;
    background-color: #292929;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
}

.logo-box svg{
    display: flex;
    height: 24px;
    width: 24px;
}



.logo-box:hover{
    background-color: rgba(77, 77, 77, 255);
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.testimonial2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.testimonial2 h1,
.testimonial2 h2,
.testimonial2 h3,
.testimonial2 h4,
.testimonial2 h5,
.testimonial2 h6 {
  color: #3e4555;
}

.testimonial2 h5 {
    line-height: 22px;
    font-size: 18px;
		font-weight: 400;
}

.testimonial2 .font-weight-medium {
  font-weight: 500;
}

.testimonial2 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial2 .testi2 .image-thumb {
  background: url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/testimonial/greadint-bg.png) no-repeat top center;
  text-align: center;
  padding: 10% 0;
}

.testimonial2 .testi2 .image-thumb img {
  width: 400px;
}

.testimonial2 .testi2 .owl-dots {
  display: inline-block;
  position: relative;
  top: -100px;
}

.testimonial2 .testi2 .owl-dots .owl-dot {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.testimonial2 .testi2 .owl-dots .owl-dot span {
  display: none;
}

.testimonial2 .testi2 .owl-dots .owl-dot.active,
.testimonial2 .testi2 .owl-dots .owl-dot:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .testimonial2 .testi2 .owl-dots {
    top: 0px;
  }
}

.testimonial2 .btn-md {
    padding: 18px 0px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.testimonial2 .btn-danger {
    background: #ff4d7e !important;
    border: 1px solid #ff4d7e !important;
}

.arrow{
    border-radius: 50%;
    padding: 25px;
    background-color: rgb(235,202,98);
}

.testimonial{
    margin-bottom: 50px;
}

.testimonial h1{
    font-size: 60px; 
    font-weight: bold; 
    display: flex; 
    justify-content: center;
    margin-top: 100px;
}